*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-img img
{
    height: 40px;
    width: 40px;
    border-radius: 30px;
}

/* utility colors*/
.bg-new
{
    background-image: linear-gradient(to right, #83b2b3, #7062F0 ); 
}

.b-red{
    border: 2px solid rgb(233, 60, 117); 
}

/* navbar section */
.navbar-border
{
    margin: 7px;
    border: 2px solid rgb(233, 60, 117);
    border-radius :12px;
}


/* body section */
body
{
   background-image: linear-gradient(to right, #5e90d1, #67306e );
   font-size: 16px;  
}

/* logo styling section */
.logo img{
    height: 250px;
    width:auto;
    border-radius: 50%;
    position: relative;
    animation: mymove 6s;
}
.logo p{
    color: white;
}

/* cards section here */
.card-t
{
    height: 450px;
    color: white;
    border-radius: 30px;
    background: transparent;
    border: 2px solid  rgb(233, 60, 117);
}

.card-body-img img{
    height: 40px;
}

.card img{
        height: 45px;
        padding: 3px;
}

/* cards section ends here */

/* dark mode */
.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 30%;
    width: 38px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}
.dark{
    background-image: radial-gradient(#1B1A1D, #1B1A1C, #1B1A1E);
    color: #e6e6e6;
}
/* dark-mode ends here */



/* queries section mobile size */
@media only screen and (max-width: 600px) {
    .logo img{
        height: 80px;
        border-radius: 50%;
    }
    .card-body-img p {
        font-size: 0.9rem;
    };
  }

 @media only screen and (max-width : 300px)
 { 
    .card-t{
        height: 500px;
    }

 } 

/* keyframe styling */
@keyframes mymove {
    0%   {top: 0px; left: -50px;}
    25%  {top: 0px; left: 0px;}
  }



