*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-img img
{
    height: 40px;
    width: 40px;
    border-radius: 30px;
}

/* utility colors*/
.bg-new
{
    background-image: linear-gradient(to right, #83b2b3, #7062F0 ); 
}

.b-red{
    border: 2px solid rgb(233, 60, 117); 
}
.navbar-border
{
    margin: 7px;
    border: 2px solid rgb(233, 60, 117);
    border-radius :12px;
}

body
{
   background-image: linear-gradient(to right, #5e90d1, #67306e );
   font-size: 16px;  
}

/* logo styling section */
.logo img{
    height: 250px;
    width:auto;
    border-radius: 50%;
}
.logo p{
    color: white;
}

/* cards section here */
.card
{
    color: white;
    border-radius: 30px;
    background: transparent;
    border: 2px solid rgb(233, 60, 117);
}

/* dark mode */
.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 30%;
    width: 38px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}
.dark{
    background-image: radial-gradient(rgb(23, 24, 23),rgb(24, 23, 23),rgb(53, 53, 48));
    color: #e6e6e6;
}
/* dark-mode ends here */

/* content section styling here */
/* .back {
    height: 55px;
    width: 55px;
    background-color :rgb(238, 67, 138);
    border-radius: 50%;
    display: inline-block;
} */

.card-body-img img{
    height: 40px;
}


.-content-header {

}
.-content-header img{
        height: 25px;
}

/* queries section mobile size */
@media only screen and (max-width: 400px) {
    .logo img{
        height: 80px;
        border-radius: 50%;
    }
  }
